@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>Um Pouco Sobre Nós</h1>
<h4>Daniel Pereira é um estudante do curso de Engenharia Informática do Ramo de Desenvolvimento de Aplicações</h4>
<img id="image1" img src="~/img/daniel.jpg" width=50% height=20%/>
<h4>Rafael Fonseca é um estudante do curso de Engenharia Informática do Ramo de Desenvolvimento de Aplicações</h4>
<img id="image2" img src="~/img/rafael.jpg" width=50% height=50%/>


